<% include ../partials/header.ejs %>
<h1>Enter your username</h1>
<form action = "/editclass" method = "POST">
    <input type="text" name= "username">
    <input type="submit" value= "Edit Your Class Information">
</form>
<% include ../partials/footer.ejs %>
