<% include ../partials/header.ejs %>
<h1>Enter your username</h1>
<form action = "/getscore" method = "post">
    <input type="text" name= "username">
    <input type="submit" value= "Get Your Score">
</form>
<% include ../partials/footer.ejs %>
