<% include ../partials/header.ejs %>
    <div class ="container p-3">
        <div class ="container col-md-4 col-md-offset-4 p-5">
            <div>
                <form action="/showclass" method ="GET"><button class ="btn btn-primary btn-lg">Show Class</button></form>
            </div>
            <div>
                <form action="/editclass" method ="GET"><button class ="btn btn-success btn-lg">Edit Class Info</button></form>
            </div>
            <div>
                <form action="/studyplan" method ="GET"><button class ="btn btn-warning btn-lg">Generate A Study Plan</button></form>
            </div>
        </div>  
    </div>
    
    
<% include ../partials/footer.ejs %>



